*.c~
*.S~
*makefile~
*.h~
*.o
*.o.cmd
*.order
*.builtin
*.mdp.cmd
*.cmd
*kconfig~
.config
.missing-syscalls.d
.tmp_System.map
.tmp_kallsyms1.S
.tmp_kallsyms2.S
.tmp_versions/
.tmp_vmlinux1
.tmp_vmlinux2
.version
.old_version
Module.symvers
System.map
arch/arm/boot/Image
arch/arm/boot/apq8026-v1-cdp.dtb
arch/arm/boot/apq8026-v1-mtp.dtb
arch/arm/boot/apq8026-v1-xpm.dtb
arch/arm/boot/apq8026-v2-1080p-cdp.dtb
arch/arm/boot/apq8026-v2-1080p-mtp.dtb
arch/arm/boot/apq8026-v2-720p-cdp.dtb
arch/arm/boot/apq8026-v2-720p-mtp.dtb
arch/arm/boot/apq8026-v2-xpm.dtb
arch/arm/boot/compressed/ashldi3.S
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
arch/arm/boot/compressed/vmlinux.lds
arch/arm/boot/msm8226-8226ds_dp.dtb
arch/arm/boot/msm8226-fluid.dtb
arch/arm/boot/msm8226-sim.dtb
arch/arm/boot/msm8226-v1-cdp.dtb
arch/arm/boot/msm8226-v1-mtp.dtb
arch/arm/boot/msm8226-v1-qrd-dvt.dtb
arch/arm/boot/msm8226-v1-qrd-evt.dtb
arch/arm/boot/msm8226-v1-qrd-skuf.dtb
arch/arm/boot/msm8226-v2-1080p-cdp.dtb
arch/arm/boot/msm8226-v2-1080p-mtp.dtb
arch/arm/boot/msm8226-v2-720p-cdp.dtb
arch/arm/boot/msm8226-v2-qrd-dvt.dtb
arch/arm/boot/msm8226-v2-qrd-evt.dtb
arch/arm/boot/msm8226-v2-qrd-skuf.dtb
arch/arm/boot/msm8926-1080p-cdp.dtb
arch/arm/boot/msm8926-1080p-mtp.dtb
arch/arm/boot/msm8926-720p-cdp.dtb
arch/arm/boot/msm8926-720p-mtp.dtb
arch/arm/boot/msm8926-qrd-skug-pvt.dtb
arch/arm/boot/msm8926-qrd-skug.dtb
arch/arm/boot/msm8926-qrd.dtb
arch/arm/boot/zImage
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
arch/arm/kernel/vmlinux.lds
arch/arm/lib/lib.a
arch/arm/mach-msm/dma_test.ko
arch/arm/mach-msm/dma_test.mod.c
arch/arm/mach-msm/msm-buspm-dev.ko
arch/arm/mach-msm/msm-buspm-dev.mod.c
arch/arm/mach-msm/reset_modem.ko
arch/arm/mach-msm/reset_modem.mod.c
arch/arm/oprofile/oprofile.ko
arch/arm/oprofile/oprofile.mod.c
block/test-iosched.ko
block/test-iosched.mod.c
crypto/ansi_cprng.ko
crypto/ansi_cprng.mod.c
drivers/char/rdbg.ko
drivers/char/rdbg.mod.c
drivers/coresight/coresight-event.ko
drivers/coresight/coresight-event.mod.c
drivers/crypto/msm/qcedev.ko
drivers/crypto/msm/qcedev.mod.c
drivers/crypto/msm/qcrypto.ko
drivers/crypto/msm/qcrypto.mod.c
drivers/gud/mcDrvModule.ko
drivers/gud/mcDrvModule.mod.c
drivers/gud/mcKernelApi.ko
drivers/gud/mcKernelApi.mod.c
drivers/input/evbug.ko
drivers/input/evbug.mod.c
drivers/input/misc/gpio_axis.ko
drivers/input/misc/gpio_axis.mod.c
drivers/input/misc/gpio_event.ko
drivers/input/misc/gpio_event.mod.c
drivers/input/misc/gpio_input.ko
drivers/input/misc/gpio_input.mod.c
drivers/input/misc/gpio_matrix.ko
drivers/input/misc/gpio_matrix.mod.c
drivers/input/misc/gpio_output.ko
drivers/input/misc/gpio_output.mod.c
drivers/media/radio/radio-iris-transport.ko
drivers/media/radio/radio-iris-transport.mod.c
drivers/media/video/gspca/gspca_main.ko
drivers/media/video/gspca/gspca_main.mod.c
drivers/mmc/card/mmc_block_test.ko
drivers/mmc/card/mmc_block_test.mod.c
drivers/mmc/card/mmc_test.ko
drivers/mmc/card/mmc_test.mod.c
drivers/scsi/scsi_wait_scan.ko
drivers/scsi/scsi_wait_scan.mod.c
drivers/spi/spidev.ko
drivers/spi/spidev.mod.c
drivers/tty/vt/consolemap_deftbl.c
drivers/tty/vt/defkeymap.c
include/config/
include/generated/
include/linux/version.h
kernel/bounds.s
kernel/config_data.gz
kernel/config_data.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
lib/lib.a
net/wireless/regdb.c
scripts/bin2c
scripts/conmakehash
scripts/dtc/dtc
scripts/dtc/dtc-lexer.lex.c
scripts/dtc/dtc-parser.tab.c
scripts/dtc/dtc-parser.tab.h
scripts/genksyms/genksyms
scripts/genksyms/keywords.hash.c
scripts/genksyms/lex.lex.c
scripts/genksyms/parse.tab.c
scripts/genksyms/parse.tab.h
scripts/kallsyms
scripts/mod/elfconfig.h
scripts/mod/mk_elfconfig
scripts/mod/modpost
scripts/selinux/genheaders/genheaders
scripts/selinux/mdp/mdp
security/selinux/av_permissions.h
security/selinux/flask.h
usr/.initramfs_data.cpio.d
usr/gen_init_cpio
usr/initramfs_data.cpio
vmlinux
.config.old

